<style>
body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



button {
    background-color: #2b50bf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

table #customer{
    border-collapse: collapse;
    width: 100%;
    color: #000000;
    font-size: 25px;
    text-align: left;
}

#customer tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

#customer tr:hover {
    background-color: #ccc;
}

#customer th {
    background-color: #ffffff;
}

#customer th, #customer td {
    padding: 3px 5px;
}

#customer td:hover{
    cursor: pointer;
}
tr:nth-child(even) {background-color: #5edee0;}
</style>-
